In [5]:
import pandas as pd
import nltk 
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
import re
import warnings
warnings.filterwarnings("ignore")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PRASHASTI\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
df = pd.read_csv('D:\\sentimentanalysis\\training.1600000.processed.noemoticon.csv', encoding='latin')

In [12]:
df2 = pd.read_csv('D:\\sentimentanalysis\\training.1600000.processed.noemoticon.csv', encoding='latin')

In [15]:
head=['target', 'ID', 'Date', 'Flag', 'User', 'Message']
df.columns=head

In [16]:
target=df['target']
target.value_counts()

target
4    800000
0    799999
Name: count, dtype: int64

In [ ]:
df.drop(columns=['Flag'], inplace=True)
df.columns

In [20]:
df

,target,ID,Date,User,Message
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [21]:
df['target'] = df['target'].replace([0, 4],[0,1])

In [22]:
df['length'] = df.Message.str.split().apply(len)
df

,target,ID,Date,User,Message,length
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...,21
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...,18
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire,10
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all....",21
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew,5
...,...,...,...,...,...,...
1599994,1,2193601966,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,Just woke up. Having no school is the best fee...,11
1599995,1,2193601969,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...,11
1599996,1,2193601991,Tue Jun 16 08:40:49 PDT 2009,bpbabe,Are you ready for your MoJo Makeover? Ask me f...,11
1599997,1,2193602064,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...,12
1599998,1,2193602129,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...,5

In [23]:
df.drop(columns=['ID', 'Date', 'User', 'length'], inplace=True)
df

         target                                            Message
0             0  is upset that he can't update his Facebook by ...
1             0  @Kenichan I dived many times for the ball. Man...
2             0    my whole body feels itchy and like its on fire
3             0  @nationwideclass no, it's not behaving at all....
4             0                      @Kwesidei not the whole crew
...         ...                                                ...
1599994       1  Just woke up. Having no school is the best fee...
1599995       1  TheWDB.com - Very cool to hear old Walt interv...
1599996       1  Are you ready for your MoJo Makeover? Ask me f...
1599997       1  Happy 38th Birthday to my boo of alll time!!! ...
1599998       1  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 2 columns]

In [24]:
english_stopwords = stopwords.words('english')
stemmer = SnowballStemmer('english')
regex = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"

In [25]:
def preprocess(message, stem=False):
  message = re.sub(regex, ' ', str(message).lower()).strip()
  tokens = []
  for token in message.split():
    if token not in english_stopwords:
      tokens.append(stemmer.stem(token))
  return " ".join(tokens)

In [27]:
df.Message = df.Message.apply(lambda x: preprocess(x))
df

         target                                            Message
0             0  upset updat facebook text might cri result sch...
1             0    dive mani time ball manag save 50 rest go bound
2             0                    whole bodi feel itchi like fire
3             0                                      behav mad see
4             0                                         whole crew
...         ...                                                ...
1599994       1                         woke school best feel ever
1599995       1            thewdb com cool hear old walt interview
1599996       1                       readi mojo makeov ask detail
1599997       1  happi 38th birthday boo alll time tupac amaru ...
1599998       1  happi charitytuesday thenspcc sparkschar speak...

[1599999 rows x 2 columns]

In [28]:
missing_data = df.isna().sum().sort_values(ascending=False)
percentage_missing = round((df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)*100,2)
missing_info = pd.concat([missing_data,percentage_missing],keys=['Missing values','Percentage'],axis=1)
missing_info.style.background_gradient()

In [29]:
df.to_csv('D:\\sentimentanalysis\\processedf.csv',na_rep='Unkown')

In [30]:
df

         target                                            Message
0             0  upset updat facebook text might cri result sch...
1             0    dive mani time ball manag save 50 rest go bound
2             0                    whole bodi feel itchi like fire
3             0                                      behav mad see
4             0                                         whole crew
...         ...                                                ...
1599994       1                         woke school best feel ever
1599995       1            thewdb com cool hear old walt interview
1599996       1                       readi mojo makeov ask detail
1599997       1  happi 38th birthday boo alll time tupac amaru ...
1599998       1  happi charitytuesday thenspcc sparkschar speak...

[1599999 rows x 2 columns]